ECF_DGII.Models/XSD/Semilla v.1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SemillaModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="valor" type="xs:string" maxOccurs="1" minOccurs="1" />
        <xs:element name="fecha" type="xs:dateTime" maxOccurs="1" minOccurs="1" />
        <xs:any minOccurs="1" maxOccurs="1" processContents="skip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>